[2019-06-12 09:28] mobernabeu opened #728 "Setup tool needs linking against VTK"
@Romain-Enjalbert recently build the setup tool afresh in a Ubuntu 16.04 and we had to explicitly link against VTK libs (as hacky diff below) to avoid missing objects at runtime.

I'm slightly puzzled cause this was not an issue last time that I build the HemeLB docker container and the procedure for installing VMTK and HemeLB is the same that @Romain-Enjalbert followed: https://github.com/moberna

[2019-07-24 13:34] mobernabeu opened #730 "Increase CMake requirement to 3.10 in all build projects"
It appears as the `CHECK_CXX_SOURCE_COMPILES` in dependencies/parmetis/use.cmake fails with CMake < 3.8 cause it doesn't want to compile a C++11 feature such as `static_assert`.

@rupertnash recommendation is to go up to 3.10 to pick up various other bug fixes and CMake improvements.

Any other views?

[2020-01-30 16:04] rupertnash opened #731 "Segmentation fault with zero length XML file"
[code]
Unclear if this is TinyXML's fault or ours

[2020-01-31 16:12] mobernabeu opened #733 "Load RBC meshes taken from a simulation with Timm's code"
Timm's code runs a simulation on a cylinder and RBCs are output just before the centre of mass crosses the periodic boundary condition.

Requirements to load into HemeLB:
1. RBC centre of mass needs to be projected to the plane of insertion.
1. RBC needs to be orientated with flow. Timm's code flows in the x-axis.
1. RBC node coordinates are given in lattice units but these are consistent with Hem

[2020-02-28 15:37] mobernabeu opened #734 "Get HemeLB to load RBC meshes in multiple formats"
At the moment HemeLB can only read .msh files as RBC mesh input. Update `hemelb::redblood::readMesh` to be able to handle VTK files as inputs (both new XML format and old non-XML format for compatibility with Timm's code). Use VTK library API instead of having our own readers/writers.

[2020-03-12 21:16] mobernabeu opened #735 "hemelb::redblood::orientFacets gives inconsistent results when loading deformed mesh"
As part of #733, @Romain-Enjalbert found that hemelb::redblood::orientFacets will reorder 719 out 720 facets for a mesh that we know has consistent facet orientation throughout.

[2020-03-25 08:13] mobernabeu opened #736 "Implement rigid IBM algorithm"
Following from #569 and #684, the current algorithmic ordering in HemeLB is:

1. compute RBC forces
1. spread forces to fluid grid (new `\vec{F}(\vec{x}, t)`)
1. interpolate velocities at Lagrangian mesh (using `\vec{u}^*(\vec{x}, t-1)` and `\vec{F}(\vec{x}, t)`, see #684)
1. update positions of Lagrangian mesh
1. LBM collision
1. LBM propagation
1. swap current and new (collided + propagated) pop

[2020-03-25 08:19] mobernabeu opened #737 "Make simulations with periodic boundary conditions possible"
We are on early discussions on how to make this happen.

An important first step would be to add a way of defining parametric geometries in the setup tool, so that we can create LBM grids where we know that a given inlet-outlet pair matches perfectly.

[2020-07-22 16:26] otbrown opened #738 "Sun RPC not included in libc in RHEL 8.1"
...and other modern OSes. HemeLB relies on this for io routines which make use of XDR. This issue currently prevents building HemeLB on Cirrus, and will likely impact ARCHER 2 as well. One solution is to provide a dummy implementation which can be used as a last resort, but longer term it may be sensible to replace XDR with HDF5 (something which I see has been discussed in the past).

I have creat

[2020-08-11 08:23] rupertnash opened #739 "Migrate from CppUnit for tests"
In the not too distant future I'd like to move HemeLB to C++17 (to support the SyCL port)

CppUnit is unmaintained and incompatible with 17 (uses `auto_ptr`)

I suggest we move to another unit testing framework.

Multiple things:
- [x] Is there any consensus for this?
  - [x] @rupertnash
  - [ ] @timmkrueger
  - [x] @mobernabeu
  - [ ] @djgroen
  - [x] @otbrown
  - [x] @uschille
  - [ ] others?

-

[2020-09-04 08:51] rupertnash opened #741 "Sort out `hemelb::Exception`"
I just noticed that the current base exception class does dynamic memory allocation and so is a bit of a landmine... We should probably replace with something that doesn't do this. A quick grep of the source suggests that most uses don't need the fancy `ostream`-based formatting

[2020-09-21 08:40] rupertnash opened #742 "Remove static assert workaround; it's 2020"

[2020-09-28 12:32] rupertnash opened #743 "Is there a good reason the extraction code uses floats instead of doubles?"
If there's not, switch to doubles.

If there is, put a note explaining why somewhere...

[2020-09-30 13:40] rupertnash opened #745 "Mergatron 2020"
"Make HemeLB Approach Adequacy Again"
As of today, there are 24 branches and 171 open issues. This is not cool. Let's drain the swamp.

Branch wrangling:
- [x] Rename master -> main (@rupertnash)
  - [x] Create main branch and set as default
  - [x] close all open PRs against master, delete master
- [ ] NBC stuff - this removes various long term annoyances with HemeLB (vis, steering, net) (@rupert

[2020-09-30 14:17] rupertnash opened #746 "Delete Tools/analysis?"
Last real commit was in 2012.

Has anyone used this in the last 5 years?

Please react with thumb up (== delete) or thumb down (== keep)

@mobernabeu, @djgroen?

[2020-09-30 18:41] #701 closed, assigned to nobody

[2020-10-01 10:16] #649 closed, assigned to nobody

[2020-10-01 11:39] rupertnash opened #748 "Replace HEMELB_OPTIMISATION"
Don't do weird custom things, do the standard CMake thing.

[2020-10-01 12:44] #748 closed, assigned to rupertnash

[2020-10-02 19:49] #709 closed, assigned to nobody

[2020-10-06 11:13] #742 closed, assigned to rupertnash

[2020-10-08 22:46] #706 closed, assigned to nobody

[2020-10-08 22:54] #726 closed, assigned to nobody

[2020-10-08 23:00] #653 closed, assigned to uschille

[2020-10-08 23:00] #655 closed, assigned to uschille

[2020-10-08 23:01] #654 closed, assigned to uschille

[2020-10-08 23:03] #657 closed, assigned to nobody

[2020-10-19 15:28] rupertnash opened #749 "Delete pre-rebase forks"
The following forks have not been updated since we rebased some stuff a few years ago. Any work done on them will be a total nightmare to merge back into main here.

Can the owners please delete them?

- [x] @uschille (your personal fork, not the Clemson one)
- [x] @mdavezac
- [x] @jenshnielsen
- [x] @garymacindoe

Thanking you kindly in advance!

[2020-10-20 18:11] #739 closed, assigned to nobody

[2020-10-20 19:01] rupertnash opened #750 "EntropyTester is broken"
The `lb::EntropyTester` class is obviously broken (doubly so in the NBC branch)

We should either remove it, or add some tests and fix it.

[2020-10-20 19:22] #730 closed, assigned to nobody

[2020-10-20 19:22] #720 closed, assigned to mobernabeu

[2020-10-20 19:26] #675 closed, assigned to schmie

[2020-10-20 19:27] #671 closed, assigned to nobody

[2020-10-20 19:34] #666 closed, assigned to rupertnash

[2020-10-20 19:35] #667 closed, assigned to rupertnash

[2020-10-20 19:36] #647 closed, assigned to nobody

[2020-10-20 19:40] #589 closed, assigned to schmie

[2020-10-20 20:02] #731 closed, assigned to rupertnash

[2020-10-26 13:50] #749 closed, assigned to nobody

[2020-11-02 11:17] #738 closed, assigned to otbrown

[2020-11-09 17:04] mobernabeu opened #753 "CellArmy exceptions deadlocking simulations"
`CellArmy::Fluid2CellInteractions` throws exceptions for a couple of anomalous situations (i.e. numerical instability) that can potentially occur in just a subset of the MPI ranks (in a single rank most of the times). I'm puzzled about why the catch blocks in `main.cc` are not picking them up and `MPI_Abort`ing the whole simulation in ARCHER. This has lead to some costly deadlocks in production!

[2020-12-09 15:06] rupertnash opened #755 "RBC inserter initialisation is not reproducable"
In the course of making a wee XML checker, I see that that `readSingleRBCInserter` in redblood/io.cc uses the time to initialise the PRNGs

It would be much better to add the seed required to the input file. This will also remove the need to use MPI here.

[2020-12-09 15:38] rupertnash opened #756 "RBC template cells: should mesh path be interpreted as relative to XML?"
Trying to load some of the example XML files gives errors like

`Red-blood-cell mesh file 'rbc_ico_2880.msh' does not exist`

It does exists, it's just no in the working directory, it's in the one that the XML input's in.

What is the desired behaviour? I'd suggest relative to the XML is correct as that's what we do for GMY.

[2020-12-09 15:49] CharlesQiZhou commented on #756
@rupertnash We usually place the RBC mesh file (rbc_ico_2880.msh) in the same directory as the XML. And yes, it is supposed to be relative to the XML file just as the GMY does

[2020-12-09 15:51] rupertnash commented on #756
So you have serendipitously not triggered the bug. This is an easy fix that will appear in rbc/merge soon

[2020-12-09 16:30] #756 closed

[2020-12-17 11:38] mobernabeu commented on #388
@rupertnash Any high level thoughts on how to make the rheology model configurable from the XML file? Any existing design patter that we could readily copy?

[2020-12-17 11:42] mobernabeu commented on #388
@rupertnash saw your comment in #754 and will hold fire here. Let me know if I can help with anything in this ticket.

[2020-12-17 13:16] rupertnash commented on #722
We're now public by default; these are defunct

[2020-12-17 13:16] #722 closed

[2020-12-17 13:23] rupertnash commented on #698
Reviewing old issues just now: I *think* this one may be resolved by the new cmake setup that uses a single file (Code/cmake/options.cmake) to ensure consistency between the superbuild and code-only builds.

@uschille can you please close if this is the case?

[2020-12-17 13:26] rupertnash commented on #696
Just having a look over some open issues: As mentioned above, the superbuild uses `HEMELB_DEPENDENCIES_INSTALL_PATH` to determine where to install dependencies. I am NOT keen to change this.

However, we could certainly consider changing the default value from `${HEMELB_DEPENDENCIES_PATH} == ${HEMELB_ROOT_DIR}/dependencies` to `CMAKE_INSTALL_PREFIX`

[2020-12-17 13:48] rupertnash commented on #727
I've just compiled and run with UBSan:
[code]
So yes, I confirm this is triggering undefined behaviour. I'll look at this.

[2020-12-17 14:13] rupertnash commented on #727
Fixed in 2aa2733c6616274a8df359756c39587b351c68cf

This bug will have been benign on most implementations as `1 << (2^32-1) == 0`, but still nice to be rid of it.

Good spot!

[2020-12-17 14:14] #727 closed

[2020-12-17 14:16] rupertnash commented on #691
Is this solved by 16e659766ab2b07919cf5cb4ca161d21558afe6f?

[2020-12-17 14:22] rupertnash commented on #163
Once the basic fluid properties are configured via XML (#758 ) extending this to most/all of the rheology model parameters is probably a good idea. The performance cost of making this no longer constant expressions shouldn't be too high as those models require calling expensive functions like `std::sqrt`, `std::pow(_, non-integer)` which are non-`constexpr` anyway.

[2020-12-17 14:26] rupertnash commented on #415
Can we move this to use pascals as well?

[2020-12-17 16:17] rupertnash commented on #415
This is closed by #758

[2020-12-17 16:30] uschille commented on #698
The new cmake setup seems to be working fine so far. Thanks @rupertnash

[2020-12-17 16:30] #698 closed

[2020-12-17 16:46] rupertnash commented on #426
I think this was done ages ago

[2020-12-17 16:46] #426 closed

[2021-01-06 20:57] rupertnash opened #759 "RBC potential bug: lattice coordinates being produced by implicit truncation"
I've now disallowed implicit conversions Vector3D<T> -> Vector3D<U> (you can still do this explicitly of course). This has thrown up a number of cases where floating point Vector3D's had been implicitly truncated to integer Vector3Ds, particularly around positions.

I don't know if any of these are bugs.

[2021-01-06 21:36] rupertnash commented on #759
Examples:

https://github.com/hemelb-codes/hemelb/blob/9ddd354fb48ea4a5a4af37f0231ff5f965ee48f9/Code/redblood/CellArmy.h#L342

https://github.com/hemelb-codes/hemelb/blob/9ddd354fb48ea4a5a4af37f0231ff5f965ee48f9/Code/unittests/redblood/CellForceSpreadTests.h#L80

[2021-02-02 20:06] CharlesQiZhou commented on #753
This may be useful for debugging purpose. One recent benchmark test of mine triggering the CellArmy exception successfully invoked the MPI_ABORT and immediately terminated the simulation for local runs on a desktop (with 4 cores, about 10 min running). The same simulation running on ARCHER failed to invoke MPI_ABORT and ended in deadlocks.

Enclosed please find the log file from one of my local ru

[2021-02-03 09:19] mobernabeu commented on #753
Thanks @CharlesQiZhou. This is very bizarre indeed and needs more investigation to understand what part is broken (exception not being thrown, not being caught, MPI_ABORT deadlocking or not doing its job). I suggest that you try to replicate on Cirrus or ARCHER2 once the code is running there and add a bit more tracing to see which of the above is the culprit. Running it through a parallel debugge

[2021-02-09 14:38] rupertnash commented on #735
Hi @mobernabeu - you have added a failing test to the build. Can we remove this test as deprecated? Can we remove some code?

[2021-02-11 09:01] mobernabeu commented on #735
Yes, we should remove the failing test and the support for .msh files altogether from the code as our implementation of `orientFacets` for them is subpar.

[2021-05-07 13:10] #734 closed

[2021-05-10 13:29] nickaj opened #760 "Bump ctemplate to 2.4 for Python3 compatibility"
ctemplate v2.3 (as built by cmake) doesn't compile with Python3
ctemplate v2.4 does, with only a minor tweak to run `libtoolize` before the autogen.sh step

[2021-05-11 16:20] rupertnash commented on #760
Thanks Nick - I did have a go at using 2.4 but missed the libtoolize step. The release hasn't been made quite correctly, has it? Any chance of a PR to `dependencies/ctemplate/find_or_build.cmake`?

[2021-05-12 15:00] #760 closed

[2021-07-30 14:04] rupertnash opened #764 "Adopt VTK definition of a triangle's normal."
Given vertices 0, 1, 2:
[code]
VTK says the normal comes out of the screen towards you, while HemeLB and @timmkrueger's code say it goes in.

We should probably adopt the VTK convention as we move towards depending on it more.

[2021-08-05 13:21] rupertnash opened #765 "Fix orientalists facets to use the VTK solution"
Turns out I found a VTK bug while doing the orientation fixing:
https://gitlab.kitware.com/vtk/vtk/-/issues/18270

Once that's fixed, adopt the fix here. (Or consider using vtkPolyDataNormals directly)

[2021-09-27 10:52] rupertnash commented on #728
I think this is resolved by #762

[2021-09-27 10:52] #728 closed

[2021-10-26 10:07] dhardma2 opened #766 ".gmy to .vtu converter error message"
Below is the error that I get using the gmy to vtu converter

python ~/hemelb-main/python-tools/hlb/converters/GmyUnstructuredGridReader.py filename

**Error message**

  File "/home/dhardma2/hemelb-main/python-tools/hlb/converters/GmyUnstructuredGridReader.py", line 18, in <module>
    from ..parsers.geometry.simple import ConfigLoader
ValueError: attempted relative import beyond top-level packag

[2021-10-27 14:05] dhardma2 opened #767 "Geometry tool: iolet planes disappear after interaction and don't come back"
HemeLB geometry tool does not allow the radius of inlets/outlets to be selected.
(Please see error message below. Attached are lists of Conda and pip packages)
Ubuntu version: 20.04.2

Called from the command line with:

hlb-gmy-gui --stl ~/Desktop/HLBGeometries/BifurcationSingle3/bifurcation_clipped.stl

**error message:**

/home/dhardma2/anaconda3/envs/gmyHLB/lib/python3.6/site-packages/HlbGmyTo

[2021-11-01 15:06] rupertnash commented on #767
Hi @dhardma2 - I think this is fixed in main. Can you check this please? The "disappearing iolet planes" is a known problem, sadly. I recommend trying to avoid resizing them via the 3D controls, instead use the text box to alter the value. Sorry.

[2021-11-01 15:27] dhardma2 commented on #767
Thanks for checking this Rupert. To clarify, it was not letting changing radii even in the text box (I realise I could have been clearer in the initial issue!). I'm planning to reinstall the geometry tool later this week so I'll let you know how it goes.

[2021-11-01 15:29] rupertnash commented on #767
No, I understand the issue.

I'm just letting you know there is a long standing problem with the UI if you manipulate an iolet "wrong" (and I can't define this sadly) it will just disappear permanently

[2021-11-08 13:09] mobernabeu opened #768 "Write user-level installation instructions and simple tutorial"
We've got developer-orientated installation instructions here: https://github.com/hemelb-codes/hemelb/blob/main/INSTALL

However, it would be good to have a more user-orientated version that: a) also refers to installing and running the setup tool, and) demonstrates a tutorial of getting a simulation up and running starting from a .stl file.

@CharlesQiZhou could you please have a first go at this

[2021-11-08 13:30] mobernabeu opened #769 "Geometry tool running on latest Ubuntu LTS"
(At the moment this is 20.04, but the issue can be reopened when new versions come out.)

There's been good progress standardising the installation of the setup tool: https://github.com/hemelb-codes/hemelb/blob/main/geometry-tool/README.md

Test the instructions on the latest Ubuntu LTS, iron out issues, and compile details about how to deal with dependencies.

[2021-11-08 13:34] mobernabeu commented on #769
So far we've identified and issue with the standard GCC: https://github.com/hemelb-codes/hemelb/commit/180f88937fdfa33646d005b04d69e3fc5be9a7ec and another dependency not listed: `jq`

Try this `sudo apt-get install jq gcc-10 g++-10`

[2021-11-08 13:42] mobernabeu opened #770 "Get HemeLB running on ARCHER2"
Let's start by compiling the code manually on the login nodes of the machine and then we will try to sort out builds with Fabric (which had a compatibility issue with `paramiko` last time that I tried).

In this case, it's advisable to use as many libraries provided in the system as possible. This is done via the `module` command. Document here.

[2021-11-08 13:47] #434 closed

[2021-11-08 13:50] rupertnash commented on #769
Sorry - I've come to think of jq as a required tool for any environment these days

[2021-11-08 14:39] rupertnash commented on #769
The GCC bug is fixed in GGC 9.4. I suspect that the 8 series has had its last release now they're working on 12. This problem appears when CMake linking against CGAL adds the `-frounding-math` flag. We could try to catch this but I'm reluctant as it's a real compiler bug for a relatively old GCC.

I'll rebase the doc branch onto main. I suppose we could just apply it straight away and monotonicall

[2021-11-08 16:24] mobernabeu commented on #770
@Romain-Enjalbert please update us on your recent progress.

[2021-11-09 06:44] mobernabeu commented on #769
Thanks, Rupert. I agree regarding not patching up for old compilers. We will document how to get the latest Ubuntu LTS onto the right GCC version.

I didn't realise what you were doing on the doc branch. Great stuff! Please do rebase and we will build on that.

[2021-11-09 09:46] Romain-Enjalbert commented on #770
Hi,

I haven't actually spent much time on this. I start by using `module restore PrgEnv-gnu` as that was needed when compiling the `red_blood_cells/load_rbcs_from_file` branch on archer2.  While building the dependencies using `make` (after `cmake ..`), the following error comes up.

-- The C compiler identification is GNU 10.1.0
-- The CXX compiler identification is GNU 10.1.0
-- Check for worki

[2021-11-09 11:28] mobernabeu commented on #770
Could you please update the error report above using `make` without any `-j` option? Otherwise the output from multiple builds comes up interleaved.

Please also use ` ``` ` blocks for more fancy formatting.

[2021-11-09 16:17] Romain-Enjalbert commented on #770
Sorry about that, here is the error as requested, I've cut out what comes before as it doesn't seem related to the issue. I also tried doing `module load parmetis` but the same error still comes up.

[code]

[2021-11-09 17:00] mobernabeu commented on #770
Thanks a lot, @Romain-Enjalbert.

I have managed to replicate the error and added verbose output:

[code]

`CMAKE_C_COMPILER` and `CMAKE_CXX_COMPILER` are correctly set when I look at `ccmake .` for dependencies, but the parmetis build seems not to be picking them up. Any thoughts, @rupertnash?

[2021-11-09 17:09] mobernabeu commented on #770
Found it, it's a misspelling in `dependencies/parmetis/find_or_build.cmake `

[2021-11-09 17:12] rupertnash commented on #768
See also the doc branch!

[2021-11-09 20:32] mobernabeu commented on #770
This is working for me now. PR on #774.

Tested only with Cray compiler on default environment plus `module load cmake`.

Remember to `cmake -DHEMELB_BUILD_RBC=ON ...` the code build (but not dependencies build @CharlesQiZhou) to get RBC functionality compiled.

[2021-11-09 20:35] mobernabeu opened #775 "Get HemeLB RBC code running on Cirrus post merge into main"
Similar to #770.

Let's start by compiling the code manually on the login nodes of the machine and then we will try to sort out builds with Fabric afterwards.

Document module configuration here.

[2021-11-10 09:15] Romain-Enjalbert commented on #770
Thanks, the dependencies now compile and I have moved on to the code. While running `cmake -DHEMELB_BUILD_RBC=ON ..` the following error comes. Also, previously when I compiled on my PC I needed additional flags (for the stencil and boundary conditions for example) are they needed on Archer2 ?
[code]

[2021-11-10 09:50] mobernabeu commented on #770
Did you `git pull` after last night? If so and still giving trouble, I would suggest trying a fresh checkout.

[2021-11-10 10:01] mobernabeu commented on #770
Your `cmake ..` is picking up the master build under `hemelb/` rather than the one at `hemelb/Code`. I didn't test the master build yet, sorry. Could you please use the separate dependencies and Code builds? NB: `mkdir build && cd build`

[2021-11-10 10:23] Romain-Enjalbert commented on #770
Many thanks, the following error came up which was fixed by doing `module load cray-hdf5-parallel`, just want to check the fix is fine. Another error came up after which is below.

[code]

[code]

[2021-11-10 11:32] mobernabeu commented on #770
My bad `cmake -DHEMELB_BUILD_RBC=ON ..` is also needed for `dependencies` to build VTK and HDF5.

[2021-11-10 23:30] CharlesQiZhou opened #776 "Problematic point coordinates of membrane vertices in output RBC vtp"
Multiple problematic values (e.g. nan, 0, -1) are found for the point coordinates of RBC membrane vertices (cells output from the simulation as vtp files). These problematic coordinates are presumably caused by some error of the VTK writing functions. See a snapshot of the problematic points as below:

![RBCvtp_pointDataErrors](https://user-images.githubusercontent.com/17146622/141209951-72de44bd-

[2021-11-10 23:35] CharlesQiZhou commented on #776
@mobernabeu @rupertnash

Suspicious commits related to the above issue:
https://github.com/hemelb-codes/hemelb/commit/8e858e026d0db40912a3830c8a7872138345bf9c
https://github.com/hemelb-codes/hemelb/commit/cd357fa96bcc2013b906713abcb568663ce40091
https://github.com/hemelb-codes/hemelb/commit/10b12ffec2ec9de4ee180a5af559aa5d2539c19c

[2021-11-11 15:32] rupertnash opened #777 "Don't use std::map in communicator RankMap"

[2021-11-11 16:18] mobernabeu commented on #776
Thanks @CharlesQiZhou. I'd like you to write a unit tests that reproduces the problem and debug it locally (using some traces inside the writer) rather than in ARCHER2.

An idea could be to take a look at `tests/redblood/RedBloodMeshTests.cc` and based on the test `testVTPReadMesh`, make a similar one that reads a mesh, writes it to disc, and reads it back to check that the coordinates have not ch

[2021-11-11 16:25] rupertnash commented on #776
Apols for not making any progress here: one thought I had, is this an IO problem or has something gone wrong with the cell integration so a coordinate is NaN?

[2021-11-11 16:30] mobernabeu commented on #776
Good call. I'm hoping that an appropriate unit tests will tell us whether this is a regression after the merge or not.

[2021-11-11 21:51] mobernabeu commented on #776
How to call individual tests in Catch2: https://github.com/catchorg/Catch2/blob/devel/docs/command-line.md

First I thought that the naming convention in `TEST_CASE` is weird but then I discovered that one can pass regex-like expressions to select individual tests. Pretty cool!

[2021-11-11 22:19] CharlesQiZhou commented on #775
Minimum requirement for the dependencies to be compiled on cirrus:
[code]
@mobernabeu @rupertnash
Currently, dependencies fail during MAKE with the errors below:
**stderr.txt**
-------------------------------------------------------------------------
+ rm -rf autom4te.cache
+ autoreconf --force --install --warnings all,no-obsolete
configure.ac:25: installing './ar-lib'
configure.ac:24: installing

[2021-11-11 22:41] mobernabeu commented on #775
@rupertnash is there any good reason not to go with gcc 10.2 in Cirrus?

[2021-11-11 23:30] CharlesQiZhou commented on #775
Just tried with gcc 10.2, namely with the below modules
[code]
Dependencies (`make` after  `cmake -DHEMELB_BUILD_RBC=ON ..`) failed with seemingly the same errors as using gcc 8.2 (Note that previously red_blood_cells/merge successfully compiled on Cirrus with gcc 8.2).

See the complete stderr.txt and stdout.txt below for this attempt with gcc 10.2:
[stderr.txt](https://github.com/hemelb-codes/he

[2021-11-12 09:21] rupertnash commented on #775
I'm pro updating to 10: newer is usually better for the compilers

[2021-11-12 09:26] rupertnash commented on #775
I think you need to load the libtool module on Cirrus: `module load libtool/2.4.6`

[2021-11-12 12:24] CharlesQiZhou commented on #775
Thanks @rupertnash. Adding `module load libtool/2.4.6` works for the dependencies to compile without errors. The Code also compiles and hemelb executable is generated, but with the errors (**stderr.txt**) below:
`/lustre/home/ec136/qizhou/hemelb/Code/redblood/Mesh.cc:691:2: warning: multi-line comment [-Wcomment]
  691 |  //  | \      | \
      |  ^
/lustre/home/ec136/qizhou/hemelb/Code/redblood/M

[2021-11-12 15:23] mobernabeu commented on #775
Thanks @CharlesQiZhou, I suggest that you try running the unit tests (assuming they have compiled?) and then test with the main executable whether you encounter the issue with RBC vertex coordinates in #770.

Moving forward, please parse the compilation output and only add to tickets the actual errors, rather than a long list of warnings.

[2021-11-12 15:41] CharlesQiZhou commented on #775
Thanks @mobernabeu. Unfortunately only two executable `hemelb` and `hemelb-confcheck` were compiled, and the unit tests were not. I tested the main executable (`hemelb`) after the compiling Code already. The simulation did run on Cirrus (single-core job tested), but encountered the RBC vertex issue similarly as on ARCHER2

[2021-11-12 15:59] rupertnash commented on #775
You've got a linking error there. Which symbol is it complaining about? You can demangle the name with `c++filt`

[2021-11-12 21:09] CharlesQiZhou commented on #775
Well spotted @rupertnash. The demangled functions are:

[2021-11-15 12:39] mobernabeu commented on #769
We've made progress getting the setup tool installed in Ubuntu. Just to document how some of the dependencies where installed:
[code]
`llvm` and `Mesa` seemed to be need to ironing out issues with Python VTK.

@seede has had trouble compiling the tests and gets a segfault when trying to run the setuptool with a simple .stl. Ellie, could you please upload some screenshots to show the errors?

[2021-11-15 15:05] seedel commented on #769
This is the error I get when trying to open the setuptool:
![image (2)](https://user-images.githubusercontent.com/74921804/141804666-222dd2ff-7192-431b-b13f-98707c125e99.png)

[2021-11-15 16:27] rupertnash commented on #769
So the CI has a build recipe for ubuntu 20.04
https://github.com/hemelb-codes/hemelb/blob/main/.github/workflows/gmy-tool.yml
Don't know if that helps?

@seedel: for the segfault, how far does it get? Did the GUI start? Could you interact with it? Did the error occur when generating a GMY?

If the problem's on GUI start up, it will probably be a problem in how one (or more) of the dependencies are

[2021-11-16 06:50] mobernabeu commented on #775
Thanks @CharlesQiZhou.

@rupertnash, could it be a lambda function that it's been optimised out by error? Perhaps we could try setting `CMAKE_BUILD_TYPE` to `Debug` and start adding optimisations incrementally? I can also see a `HEMELB_OPTIMISATION` CMake variable that I'm not sure how it combines with the previous. Any thoughts welcome!

[2021-11-17 07:14] mobernabeu commented on #769
Thanks, Rupert.

I'm told that the setup tool segfaults before displaying starting the GUI and that the dependencies load fine on a Python interpreter.

I also understand that one of the setup tools unit tests is failing for @seedel and @Romain-Enjalbert, so we should start by looking at that. Could you guys confirm please and show us the error?

[2021-11-17 07:52] rupertnash commented on #769
Interactive debug today? Available 0930 until lunchtime

[2021-11-17 09:03] Romain-Enjalbert commented on #769
Hi, I'm free until 11h, but I am currently on Ubuntu 16 and am reluctant to upgrade on to 20 as I have the old setup tool running there for the moment in case I need it. The error is as follows. I tried importing the modules and they all import without error, and the segmentation fault occurs even before the GUI window opens.
[code]

[2021-11-17 10:48] mobernabeu commented on #769
Sorry guys, I'm back-to-back with meetings all morning, but please do go ahead without me. I suggest we start by looking at the failing unit tests and those are passing on the CI. It may give a hint at what's the issue with the dependencies.

[2021-11-17 15:28] seedel commented on #769
Hi Rupert,
Thanks for your time this morning. We managed to install vmtk and vtk separately as discussed this morning, but we are having issues with `pip install .` afterwards. We are however unable to install `wxpython=4.0.6` as conda identifies package issues with the vtk from anaconda, although we don't know if that is the problem. The error is the following:
[code]

[2021-11-29 10:42] rupertnash opened #779 "Implement checkpointing for RBCs"

[2021-12-06 10:45] #769 closed

[2021-12-06 10:50] rupertnash commented on #766
Is this now resolved? Please close if so! Ta

[2021-12-06 10:51] #741 closed

[2021-12-06 11:19] rupertnash commented on #746
Deleted

[2021-12-06 11:19] #746 closed

[2021-12-06 11:19] #241 closed

[2021-12-06 12:12] #266 closed

[2021-12-06 12:13] #375 closed

[2021-12-09 15:22] seedel commented on #766
Thanks Rupert, I can get the .vtu file however then I am unable to use:` python -m hlb.converters.ExtractedPropertyUnstructuredGridReader ` without error.

`ERROR: In /home/runner/work/vmtk-build/vmtk-build/vtk/Filters/Python/vtkPythonAlgorithm.cxx, line 112
vtkPythonAlgorithm (0x279a7e0): Failure when calling method: "ProcessRequest":

Traceback (most recent call last):
  File "/home/seede/gmy-to

[2021-12-13 11:34] seedel commented on #766
That's them emailed over

[2021-12-13 12:53] rupertnash commented on #766
Afraid I can't reproduce the error - I converted the geometry and the extraction data just fine:
[code]
Are you sure your installation of the python tools is up to date?

[2021-12-13 21:35] rupertnash commented on #766
OK - so this was a tricky one. Unfortunately the VTK - python interface ends up swallowing all exceptions so the program keeps trying and ctrl-C just cancels one trip round the loop which makes it worse to understand.

This error is caused by you creating the config.vtu without using the XML config file. This means the `GmyUnstructuredGridReader` just creates its output in lattice units. Then the

[2022-01-24 11:14] rupertnash commented on #699
Condition for "graceful abort" |∆x| > 0.5 lattice units

[2022-01-24 11:16] rupertnash commented on #699
Consider also writing fluid information

[2022-01-24 21:46] CharlesQiZhou commented on #775
Hi @rupertnash, thank for your recent changes before Christmas. I found the superbuild quite handy. However, even with superbuild, the code is still compiled only for serial jobs on Cirrus (with srun --ntasks=1). Parallel jobs with **srun** would fail with the error below:

MPI_FILE_OPEN(67): Invalid MPI_Info

and **mpirun** would fail with libstdc++.so.6 error instead:

The mpirun error is beyond

[2022-01-25 10:59] CharlesQiZhou commented on #775
Maybe it's also useful to post the error from conventional build, i.e. manually compiling the dependencies and then the code itself. Previously in last November both would compile and the main executable was generated. Now make the dependencies gives the error as below:

  file cannot create directory: /usr/local/include/vtk-9.1/vtkloguru.  Maybe
  need administrative privileges.
Call Stack (most

[2022-01-31 17:04] mobernabeu commented on #775
Hi Charles, while this gets looked into properly. Can you check if directories `/usr/local/include/` and `/usr/local/include/vtk-9.1` exist and if so, what are their permissions?

[2022-02-01 13:48] CharlesQiZhou commented on #775
Hi @mobernabeu, `/usr/local/include/` exists and the permission is drwxr-xr-x. `/usr/local/include/vtk-9.1` does not.

[2022-02-02 05:38] mobernabeu commented on #775
`/usr/local/include` doesn't have write permissions in the `others` group in Cirrus and therefore HemeLB cannot put things there. Explained CMake variables `CMAKE_INSTALL_PREFIX` and how HemeLB uses them. Important to understand how CMakeLists.txt works for each build.

We agreed that @CharlesQiZhou  should go back to the SuperBuild build and understand the MPI runtime error that the simulations a

[2022-02-03 10:50] seedel commented on #769
I have tried this again and the `pip install .` in python-tools worked without error.

Then

`python -m hlb.converters.GmyUnstructuredGridReader config.xml
`
gave the error:

'Traceback (most recent call last):
  File "/usr/lib/python3.8/runpy.py", line 194, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "/usr/lib/python3.8/runpy.py", line 87, in _run_code
    exec(co

[2022-02-03 14:42] rupertnash commented on #769
Hi @seedel -
Can you please open a new issue, since this is a new issue? (Unless the below lets you solve it)

It looks like your error is caused by building the gmy tool against one version of Numpy and then trying to use it with another. I recommend deleting the virtual env you're using and starting again with the instructions in the doc folder.

[2022-02-04 12:03] CharlesQiZhou commented on #775
Hi @mobernabeu, superbuild with the MPT library (default MPI implementation recommended by Cirrus) instead of Intel-MPI (i.e. intel-mpi-19 as in previous comment  above) gives us a SIGSEGV error at run time, which was also encountered for the earlier `red_blood_cells/merge` branch. There was a long conversation in the hemeLB channel on Teams between Rupert, Oliver and me about that error, which re

[2022-02-05 07:55] mobernabeu commented on #775
Thanks, Charles. We need to understand if (1) is a a bug in HemeLB or in the MPI implementation. The output is giving you a stack trace where `#8` is the first function being called by the executable (i.e. `main()`) and this in turn calls `#7` and so on. The last call that happens within HemeLB is `hemelb::net::MpiCommunicator::Duplicate()`, so we need to understand in which line is crashing and w

[2022-02-08 17:07] mobernabeu commented on #775
Thanks, Charles. If you mean the return statement, it should be happening within the constructor of the object that it's being returned. Could you please see where exactly? Look for `MpiCommunicator::MpiCommunicator(MPI_Comm communicator, bool owner)`

[2022-02-08 17:59] CharlesQiZhou commented on #775
@mobernabeu, apologies for the confusion. The crashed line itself is `HEMELB_MPI_CALL(MPI_Comm_dup, (*commPtr, &newComm));`

Only "breakpoint 1" and "breakpoint 2" from below are printed at runtime:

[2022-02-08 19:39] mobernabeu commented on #775
Can you try replacing that line with `int results = MPI_Comm_dup(*commPtr, &newComm); std::out << (results==MPI_SUCCESS ) << std::endl;`

If you are gonna use `printf`s for writing, make sure you flush the output with a `\n` at the end of the string, otherwise you might miss some of the messages.

[2022-02-08 19:58] CharlesQiZhou commented on #775
Hi @mobernabeu, I just gave it a go. Unfortunately there is no "success?" output from the recompiled code. Still "breakpoint 1" and "breakpoint 2" only

[2022-02-08 20:42] mobernabeu commented on #775
Mmmh, puzzling, can you add an `assert(commPtr);` before the call to `MPI_Comm_dup` and make sure that you are not compiling in `Release` mode so that the asserts are not turned off. Otherwise, we will try to replicate the error with a minimal MPI test. It's just a small number of calls to get there.

[2022-02-08 21:47] CharlesQiZhou commented on #775
@mobernabeu, got the assertion error below
`hemelb: /lustre/home/ec136/qizhou/hemelb/Code/net/MpiCommunicator.cc:152: hemelb::net::MpiCommunicator hemelb::net::MpiCommunicator::Duplicate() const: Assertion `commPtr' failed.`

[2022-02-09 23:59] CharlesQiZhou commented on #775
@mobernabeu, following the added assertion about commPtr in `hemelb::net::MpiCommunicator::Duplicate()`, it is found that 2 out of 5 constructors are called, each called twice in the order below:
[code]

[code]

[code]
[code]

[2022-02-12 20:42] CharlesQiZhou commented on #775
Following discussion with @mobernabeu offline, a bug in the `MpiCommunicator` constructors is identified and fixed (diff below):

**This fixes the `hemelb::net::MpiCommunicator::Duplicate()` issue in the previous stack traceback, and the serial job (`--ntasks=1`) can now run with hemelb built with the **MPT** library.** Even more promisingly, 2-core and 3-core jobs also run. However, 4-core jobs f

[2022-02-15 13:33] CharlesQiZhou commented on #775
Hi @mobernabeu, unfortunately operator `MPI_Comm() const` is found correctly called by rerunning the RBC simulation (`--ntasks=4`) after adding the traces and building again with MPT. Furthermore, the simulation did not crash and got stuck calling `MPI_Comm() const` until end of walltime

[2022-02-16 08:58] mobernabeu commented on #775
I spoke with @CharlesQiZhou yesterday and it seems as flow-only simulations are crashing at initialisation some times, so we need to start with that before investigating RBCs any more. @CharlesQiZhou could you please document that here. If you could do a run with the logger turned to Debug that could be useful.

Separately, could you also document the errors that you get when compiling the unit te

[2022-04-22 04:04] FallenCastle opened #783 "Questions about .gmy file"
Hi,
After using Hemelb for a few days, I found it an excellent opensource software. But I feel a bit confused about the Hemelb geometry file(*.gmy), may I ask where can I find some detailed explanation and description about the .gmy file?
Best regards,
Fallen.

[2022-04-26 07:15] sharplo commented on #783
Hi Fallen,
I am a developer of HemePure, which should use the .gmy files in the same format. You may take a look at this file: https://github.com/UCL-CCS/HemePure_tools/blob/master/vx2gmy/mpivx2gmy.cc
Hope this helps.
Best,
Sharp

[2022-04-26 07:21] FallenCastle commented on #783
Thanks a lot !

[2022-04-27 11:01] rupertnash commented on #783
Hi @FallenCastle

There is a description of the file format here: https://github.com/hemelb-codes/hemelb/blob/main/doc/dev/file-formats/geometry.md

There are also notes on how to build the geometry tool which can be used to generate them: https://github.com/hemelb-codes/hemelb/blob/main/doc/user/geometry-tool.md

[2022-04-27 11:01] #783 closed

[2022-05-19 09:36] rupertnash opened #784 "Implement Yang pressure BC"
This would be worth doing when there is a science need. It might be a good introductory issue for someone looking to understand how the code does its core LB.

See https://github.com/UCL-CCS/HemePure/pull/4

[2022-05-30 10:26] rupertnash opened #786 "Fluid checkpoints append to the XTR file"
Currently all extraction files (including fluid checkpoints) append to the same file. This is good in some ways but has disadvantages: the files get BIG (especially for checkpoints) and you can't remove some of the data (without writing a new tool).

Consider if we should implement one file per timestep output.

The XML currently looks like:
[code]

Could add a new attribute to the propertyoutput

[2022-05-30 10:39] rupertnash commented on #695
Tidying up repo labels while trying to get CI working, I saw this. If we merge the updated v5 property extraction stuff (#785 ), I think this goes away? That said, the data loading is ripe for conversion to Cython to speed it up anyway (cython since that is already a dependency of the gmy parser)

[2022-05-31 10:25] #743 closed

[2022-06-08 08:51] #766 closed

[2022-06-20 12:32] #483 closed

[2022-06-20 12:33] rupertnash commented on #786
Closed by #785

[2022-06-20 12:33] #786 closed

[2022-07-23 04:49] tjumsl opened #787 "flexible structure fsi"
Can hemelb simulate flexible structure fsi?

Does this code include immersed boundary method?

[2022-08-08 10:53] rupertnash commented on #787
Hi! Thanks for the question. HemeLB can simulate immersed flexible structures (such as red blood cells) but cannot handle flexible walls (like flexible arteries)

[2022-08-08 10:53] #787 closed

[2022-10-06 12:40] rupertnash commented on #776
@CharlesQiZhou - I think I've fixed this in #792 - can you check please?

[2022-10-06 20:04] CharlesQiZhou commented on #776
Thanks @rupertnash. I ran a RBC test locally after git pull and rebuilding HemeLB. Unfortunately the issue is still there (see inf and nan values in the snapshot below).
BTW, I got a "Invalid MIT-MAGIC-COOKIE-1 key" running the simulation. Seems new, what is that?
![image](https://user-images.githubusercontent.com/17146622/194407706-f8307c51-e7de-4629-b470-2dfd3a223aed.png)

[2022-10-07 09:13] rupertnash commented on #776
The MIT magic cookie thing is something to do with X11 - I'm not really sure why that is coming up running hemelb as that has no GUI. Perhaps there's something in the build of VTK you are using?

[2022-10-07 14:49] CharlesQiZhou commented on #776
Thanks @rupertnash for discussion offline. This is to confirm that the cell VTK issue is now gone, and we can close the ticket.

[2022-10-07 15:38] #676 closed, assigned to mobernabeu

[2022-10-07 16:15] rupertnash opened #793 "Constexpr the build system interface"
The interface to the build system is pretty messy. We can now replace a lot of the `#ifdef HEMELB_*` pre-processor horrors with constexpr bool variables and `if constexpr`. Also the configuration of boundary conditions etc could be much improved. C++20's constexpr strings could help here too. (Note you can't have a `constexpr std::string` variable as the allocation cannot reach the end of a consta

[2022-10-10 16:19] sharplo opened #794 "Source of the D3Q19 Velocity Sets"
I found that the velocity sets `CX, CY, CZ` in `lb/lattices/D3Q19.cc` are different from those commonly used: for example, D'Humieres et al. ([2002](https://doi.org/10.1098/rsta.2001.0955)) and Krueger et al ([2017](https://doi.org/10.1007/978-3-319-44649-3)). In specific, there are two vectors having non-zero components in all directions in the code, whereas all the vectors in the given reference

[2022-10-10 16:44] sharplo commented on #794
My first statement was not correct. I overlooked the displacement of the entries.

[2022-10-10 16:44] #794 closed

[2022-11-03 09:56] #776 closed

[2022-11-08 12:25] behikh opened #797 "Compiling program via superBuild fails due to code failures in CommandLineTests.cc.o"
When running the superbuild to build the program, it fails building due to an error in the following test file:
tests/configuration/CMakeFiles/test_configuration.dir/CommandLineTests.cc.o

It seems to be due to a  code failures `error: no matching member function for call to 'FirstChildElement'`

The superbuild runs and finishes if `HEMELB_BUILD_TESTS` are set to `OFF` in the following file:
 heme

[2022-11-08 13:15] rupertnash commented on #797
This is due to the TinyXML installed on your machine not being built with the `TINYXML_USE_STL` flag on.

Solution is probably to have the FindTinyXML cmake fail/reject the candidate if this flag isn't on.

[2022-11-08 13:30] rupertnash commented on #797
You'll want to use somthing like
[code]
and add the `HAVE_TINYXML_USE_STL` var to `find_package_handle_standard_args`

https://cmake.org/cmake/help/latest/module/CheckCXXSymbolExists.html

[2022-11-09 11:11] CharlesQiZhou commented on #775
@rupertnash A quick follow-up of our discussion this morning.
1. The flow-only simulations run well if the code is compiled with MPT, but would crash sporadically if compiled with Intel MPI.
2. Helpdesk queries related to this ticket in general include:

[2022-11-09 23:00] CharlesQiZhou commented on #797
Hi @rupertnash, on a related note, do `TINYXML_USE_STL` = YES/NO and `TIXML_USE_STL` = ON/OFF both serve a purpose or one has replaced the other? (cc @behikh)

[2022-11-10 11:34] rupertnash commented on #797
So I used `TINYXML_USE_STL` in error, the correct name is `TIXML_USE_STL`

[2022-11-10 12:09] CharlesQiZhou commented on #775
Further info. on the unittest compilation error and main application runtime error:

[stderr_unittests.txt](https://github.com/hemelb-codes/hemelb/files/9980485/stderr_unittests.txt)
[stderr_runtime.txt](https://github.com/hemelb-codes/hemelb/files/9980486/stderr_runtime.txt)

[2022-11-10 14:22] rupertnash commented on #775
@CharlesQiZhou can you please try again on Cirrus? The last 2 commits to main may have fixed these problems.

[2022-11-10 23:45] mobernabeu commented on #775
Oh man, I didn't think it could be picking up the wrong ctor... 🤦  Hope you are right!

[2022-11-11 14:14] CharlesQiZhou commented on #775
Thanks @rupertnash for the commits.
Unfortunately the unittests still failed to compile due to similar TinyXML issues.
On the other hand, RBC simulation with the compiled hemelb executable now encounters another issue, see highlighted line in the stack traceback below:

[2022-11-14 22:53] mobernabeu commented on #775
Thanks @CharlesQiZhou. Please add some tracing to check which of the two assertions in `ComputeGlobalCoordsToProcMap` is tripping.

[2022-11-15 11:35] rupertnash commented on #797
This may be fixed in main now. (I think the std::string -> C string conversion happens in the header so compiling the library with `TIXML_USE_STL` may not really matter)

[2022-11-16 22:03] CharlesQiZhou commented on #775
Thanks a lot @rupertnash for negotiating with Cirrus and the new commits. I attempted a few compilations following your modules but the main executable failed to compile this time due to TinyXML library issues (see error message below). I saw your comments about `TIXML_USE_STL` in ticket #797, but is there anything else that needs to be done regarding TinyXML?

Hi @mobernabeu , sure I'll follow up